@media (max-width: 1360px){
    body {
     max-width: 1000px;
    }
    main {
        margin-top: -40%;
    }
 }

 @media (max-width: 1280px){
    body {
     max-width: 900px;
    }
    main {
        margin-top: -42%;    
    }
 }

@media (max-width: 1200px){
   body {
    max-width: 700px;
   }
}

@media (max-width: 700px){
    body {
        max-width: 300px;
    }
}

@media (max-width: 414px) {
    body {max-width: 200px;
    }

    main {
        width: 370px;
        height: 650px;
        border-radius: 25px;
        margin-left: 9%;
        margin-right: 100%;
        margin-top: -30%;
    }
    
    #foto {
        width: 372px;
    }

    #fundo{
        position: relative;
        z-index: -1;
        margin: 0;}
}

@media (max-width: 395px){
    body {
        max-width: 375px;
    }

    main {
        width: 375px;
        margin-left: 1%;
    }

    #foto {
        width: 375px;
    }
}


@media (max-width: 376px){
    body {
        max-width: 350px;
    }

    main {
        width: 349px;
        margin-left: 2.5%;
    }

    #foto {
        width: 352px;
    }
}


@media (max-width: 360px){
    body {
        max-width: 300px;
    }

    main {
        width: 349px;
        margin-left: 1%;
    }

    #foto {
        width: 349px;
    }
}